<phpunit bootstrap="vendor/autoload.php"
colors="true"
>
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="Router">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>